$font-color: #ffbaf9;

@font-face {
  font-family: "Pricedown";
  src: url("~@/../public/fonts/pricedown.ttf");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "Pricedown", sans-serif !important;
  background-color: #000;
}

.player {
  width: 0;
  height: 0;
}

.container {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.background {
  background-image: url("../../public/images/background.png");
  clip-path: polygon(8% 10%, 90% 13%, 87% 90%, 12% 95%);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.logo {
  position: absolute;
  max-width: 400px;
  transform: rotate(-3deg);
  left: 5%;
  top: 2%;
}

.radio-text {
  top: 5.5%;
  right: 10%;
  color: $font-color;
  position: absolute;
  font-size: 120px;
  text-shadow: -15px 15px 0px #222222;
}

.radio-container {
  width: 75%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.volume {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

  .name {
    font-size: 72px;
    color: $font-color;
    text-shadow: 3px 3px 0px #222222;
    padding-right: 20px;
    padding: 0;
  }

  .slider {
    height: 60px;
    width: 189px;
    position: relative;
    margin-bottom: 20px;
  }

  .slider-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../../public//images/volume/slider-bg.png");
    z-index: -1;
  }

  .slider-volume {
    position: absolute;
    height: 100%;
    background-image: url("../../public//images/volume/slider-volume.png");
    z-index: -1;
  }
  .slider-input {
    height: 100%;
    width: 100%;
    opacity: 0;
    z-index: 10;
    cursor: pointer;
  }
}

.radio {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 156px;
  width: 100%;
  position: relative;
}

.prev-station,
.next-station {
  height: 156px;
  width: 100px;
  background-color: #009cff;
  clip-path: polygon(36% 0%, 100% 0%, 64% 100%, 0% 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  color: #fff;
  padding: 0 50px;
  cursor: pointer;
}

.prev-station {
  margin-right: -72px;

  .button {
    text-shadow: 3px 3px 0px #222222;
  }
}

.next-station {
  margin-left: -72px;

  .button {
    text-shadow: -3px 3px 0px #222222;
  }
}

.stations {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 0 60px;
  height: 100%;

  &-background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #00b4ff4d;
    clip-path: polygon(9% 0%, 100% 0%, 91% 100%, 0% 100%);
  }

  .active,
  .next,
  .prev {
    display: flex;
    align-items: center;
    width: 200px;
    height: 150px;
    padding: 0 15px;
    .img {
      max-width: 200px;
      max-height: 150px;
    }
  }

  .active {
    cursor: pointer;
    z-index: 1;
  }
}

@media (max-width: 1140px) {
  .stations {
    .next,
    .prev {
      display: none;
    }
  }

  .radio-text {
    display: none;
  }

  .logo {
    position: relative;
  }

  .volume {
    .name {
      margin: 5px;
    }
  }
}
